<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://invoicesys.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>invoicesys.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>InvoiceSys</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$InvoiceSys</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="InvoiceDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:eg7ojjfqrj.database.windows.net,1433;Initial Catalog=InvoiceSys_db;User ID=azureDatabaseserver@eg7ojjfqrj;Password=AzureDb*" Name="Data Source=tcp:eg7ojjfqrj.database.windows.net,1433;Initial Catalog=InvoiceSys_db;User Id=azureDatabaseserver@eg7ojjfqrj;Password=AzureDb*" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Invoice.Model.DataContext.InvoiceDataContext, Invoice.Model" MigrationConfiguration="Invoice.Model.Migrations.Configuration, Invoice.Model" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Invoice.WebUI.Properties.Settings.InvoiceDBConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:eg7ojjfqrj.database.windows.net,1433;Initial Catalog=InvoiceSys_db;User ID=azureDatabaseserver@eg7ojjfqrj;Password=AzureDb*" Name="Data Source=tcp:eg7ojjfqrj.database.windows.net,1433;Initial Catalog=InvoiceSys_db;User Id=azureDatabaseserver@eg7ojjfqrj;Password=AzureDb*" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\SQLExpress;Initial Catalog=InvoiceDB;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Invoice.WebUI.Properties.Settings.InvoiceDBConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.\SQLExpress;Initial Catalog=InvoiceDB;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Invoice.WebUI.Properties.Settings.InvoiceDBConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:eg7ojjfqrj.database.windows.net,1433;Initial Catalog=InvoiceSys_db;User Id=azureDatabaseserver@eg7ojjfqrj;Password=AzureDb*</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)InvoiceDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:eg7ojjfqrj.database.windows.net,1433;Initial Catalog=InvoiceSys_db;User Id=azureDatabaseserver@eg7ojjfqrj;Password=AzureDb*</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>